jupyter
matplotlib
seaborn
pandas
numpy
dash
xlrd
openpyxl
plotly
kaleido
networkx
gunicorn
statsmodels
dash_core_components
dash_bootstrap_components
dash_html_components
plotly.express
dash-extensions
